/* reset ==================================== */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-style: none;
  border-color: inherit;
  font-size: 16px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 3px;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.8);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  /* margin-bottom: 0; */
}
